/* create form styling */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius:10px;
    width: 30%;
    margin: 20vh auto;
  justify-content: center;
  background-color: #f5f5f5;
}
.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}
.form__container > h1 {
  margin-bottom: 20px;
    background-color: whitesmoke;
}
.form__container > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}
.form__container > form > input {
  width: 300px;
  height: 20px;
  margin: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px;
}
